<!DOCTYPE html>
<html>
  <head>
    <title>Themoviedb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application_pack', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="application-layout" class="main-wrapper row no-gutters">
      <%= yield %>
    </div>
  </body>
</html>
